// ======================================
// Icons
// ======================================

@mixin icon( $url: none, $width: 50px, $height: 50px ) {
    display: inline-block;
    width: $width;
    height: $height;
    background: $url no-repeat;
    text-indent: -9999px;
    outline: none;
}

.icon {

    // Example:

    // &__ticket {
    //     @include icon( url('../images/icon-logo.png'), 15px, 20px );
    // }


}
