// ======================================
// Mixins
// ======================================



// Unit handling
// ======================================
// padding: padding(3)
// it will compile as
// padding: 30px;

@function padding($units: 1) {
  $computedPadding: $units * $padding;
  @return $computedPadding;
}

// REM font-sizing
// ======================================
// Usage:
// @include font-size(13);

@mixin font-size($sizeValue: 12) {
  font-size:  $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}


// Column spanning
// ======================================
@mixin colspan( $col-num ) {
    width: ( $col * $col-num ) + ($gutter * ($col-num - 3));
    margin: 0 $gutter;
    //border: 1px red solid;
}



// Media queries
// =======================================

$mobile-width: 736px; // iphone 6+



@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}









// ======================================
//  Other helpers
// ======================================
// These aren't mixins per se, as they don't require us to
// put parameters, they are just helper classes that can be
// used globally.

// You can either include the class in the HTML, or use the @extend method.

// Usage:
/*
    .someclass {
        @extend .list--reset;
    }
*/


.list--reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list--horizontal {
    li {
        display: inline-block;
    }
}

.h-view {
    border: 1px red solid;
}
