// bower:scss
// endbower

// Media queries
// =======================================

$mobile-width: 736px; // iphone 6+
$min-width: 360px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

body {
  min-width: $min-width;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}


// Cinema
.cnm {
  width: auto;

  display: inline-block;
  line-height: 50px;
  padding-top: 55px;

  @include mobile {
    line-height: 25px;
    padding-top: 35px;
    margin-bottom: 200px;
  }

}

.seat {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #999;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;

  @include mobile {
    width: 25px;
    height: 25px;
    margin: 4px;
  }

  &:hover {
    background-color: #ccc;
  }

  &--occupied {

    background-image: url('../images/icon.png');
    background-size: contain;
    pointer-events: none;
  }
}

.rows {
  &__letter {
    display: inline-block;
    width: 50px;
    margin: 5px;
    vertical-align: middle;
    text-transform: uppercase;

    @include mobile {
      width: 15px;
      margin: 2px;
    }

    &--right {
      @include mobile {
        display: none;
      }
    }
  }
}

.col {
  &__numbers {
    min-width: $min-width;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;

    @include mobile {
      position: absolute;
    }

    &--bottom {

      top: auto;
      bottom: 0;

      @include mobile {
        bottom: auto;
        z-index: 2;
      }
    }


  }
  &__number {
    display: inline-block;
    width: 50px;
    margin: 5px;

    @include mobile {
      width: 25px;
      margin: 4px;
    }
  }
}


// Rabbit
.rbt {
  background: url('../images/rabbit.gif') no-repeat;
  background-size: contain;
  width: 200px;
  height: 250px;
  position: fixed;
  left: 0;
  bottom: -40px;

  @include mobile {
    bottom: -10px;
  }

  &__ticket {
   width: 100px;
   height: 50px;
   position: absolute;
   right: -64px;
   top: 18px;
   background-color: #ffee5b;
   border: 1px #000 solid;
   line-height: 50px;
   font-size: 30px;
   font-weight: bold;
   text-transform: uppercase;
  }
}

.pop {
  background-color: #fff;
  position: fixed;
  width: 200px;
  height: 100px;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 20px;
  display: table;

  &__inner {
    display: table-cell;
    vertical-align: middle;
  }

  &--correct {
    background-color: #bdffa6;
  }

  &--wrong {
    background-color: #ffa6a6;
  }


}


// ng-hide/show animations
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  //display: block !important;
}

.fade.ng-hide-remove {
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.fade.ng-hide-add {
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
