<div scroll>
<div class="fade pop" ng-show="showMessage" ng-class="{ 'pop--wrong': !correct, 'pop--correct': correct }" >
  <div class="pop__inner">
    {{ message }}<br>
    Your score: {{ score }}
  </div>
</div>
<div class="cnm">


  <div class="col__numbers">
    <span class="col__number" ng-repeat="column in setRange(totalColumns) track by $index">{{ $index + 1 }}</span>
  </div>
  <div class="rows" ng-repeat="row in rows" >
    <span class="rows__letter">{{ row }}</span>
    <div class="seat" ng-click="seatClick();" ng-class="{ 'seat--occupied' : seated }" seat seat-number="{{ row }}{{ $index + 1 }}" ng-repeat="seat in setRange(totalColumns) track by $index"></div>
    <span class="rows__letter rows__letter--right">{{ row }}</span>

  </div>
  <div class="col__numbers col__numbers--bottom">
    <span class="col__number" ng-repeat="column in setRange(totalColumns) track by $index">{{ $index + 1 }}</span>
  </div>
</div>

<div class="rbt" rabbit>
  <div class="rbt__ticket">
    {{ ticketNumber }}
  </div>
</div>
</div>
